main {
}

body {
  margin: 0;
  font-weight: 1000px;
  font-size: 20px;
  background-image: url("../src/assets/Coverimage/Watercolor-Image.webp");
  color: darkslategrey;
  font-family: Cambria, Cochin;
}

h1 {
  font-family: Cambria, Cochin;
  font-size: 30px;
  text-decoration-line: underline;
}

h2 {
  font-family: Cambria, Cochin;
  font-size: 28px;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

.page-footer {
  background-color: darkslategrey;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.logo {
  width: 40px;
}

.github-project {
  width: 450px;
}

nav a:hover {
  text-decoration: none;
}

nav li {
  cursor: pointer;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.img-thumbnail {
  height: 300px;
  cursor: pointer;
}

form {
  width: 40%;
  margin: 20px;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 2px solid darkslategrey;
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
  margin: 10px;
}

textarea {
  width: 500px;
  height: 120px;
  border: 2px solid darkslategrey;
  padding: 5px;
}

input:focus {
  border: 1px solid orange;
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
}

button {
  background: darkslategrey;
  border: 0;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 30px;
  padding: 10px 15px;
  margin: 10px;
}

.mx-1 {
  margin-right: 10px;
  margin-left: 10px;
}

.px-1 {
  padding-right: 25px;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: darkslategrey;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  list-style: none;
}

.name {
  margin-left: 38px;
  padding: 19px;
  font-size: 34px;
}

.resume-list > li {
  list-style-type: disc;
}

.main-style {
  margin-top: 80px;
  padding: 10px 40px 50px 40px;
}

/* p {
  text-align: center;
} */

a {
  border-radius: 5px;
  color: var(--primary);
  font-weight: 600;
  padding: 2px 4px;
  margin-left: -2px;
  margin-right: -2px;
}

.about-p {
  text-align: center;
  margin: 100px;
}

.about-page {
  display: flex;
  gap: 100px;
}

.my-image {
  width: 227px;
  border-radius: 150px;
  height: 227px;
}

.logo {
  width: 38px;
  height: 30px;
  border-radius: 23px;
  margin-top: 10px;
}

.project-images {
  display: block;
  padding: 0;
}

.projects-container {
  gap: 30px;
}
